.action-segment {
    transition: 1s all 1s ease-in-out 1s;
    position: fixed;
    /* padding-bottom: 10px; */
}

.copy-button-segment {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.copy-button,
.download-button {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 5px 10px;
    font-size: 0.5rem;
    color: white;
    background: black;
    width: 100%;
    cursor: pointer;
}