.playground {
    width: 40vw;
    height: 75vh;
    background: linear-gradient(-45deg, #00326b, #1a000a, #264855, #00291f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: 5px -9px 20px 3px black inset;
    background: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
}

svg {
    margin: 4vh;
}

.social-links>a>svg {
    margin: 10px !important;
    animation: slideIn 1s;
}

@keyframes slideIn {
    0% {
        margin-left: -100px;
    }

    100% {
        margin-left: 10px; 
    }
}